.button {
    background-color: rgb(14, 179, 14);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;

}

.button:hover {
    background-color: darkgreen;
}